{% extends "base.html" %}{% load humanize %}

{% block title %}{{ country.label }}{% endblock %}

{% block content %}
    <h1>{{ country.label }}</h1>

    {% include "wikidata/wikimedia_links.html" %}

    <form method="post">{% csrf_token %}
      <input type="submit" name="refresh-legislature-list" value="Refresh legislature list">
    </form>

    {% if country.population %}
    <p>Population: {{ country.population|intcomma }}</p>
    {% endif %}

    {% if country.flag_image %}
    <img src="{{ country.flag_image }}" alt="Flag of {{ country }}" style="border: 1px solid black; max-height: 20em; max-width: 30em;">
    {% endif %}

    <h2>Legislatures</h2>
    <table>
    <thead>
    <tr>
        <th>House</th>
        <th>Area</th>
        <th></th>
    </tr>
    </thead>
    <tbody>{% for legislativehouse in country.legislativehouse_set.all %}
    <tr>
        <td>{{ legislativehouse.link }}</td>
        <td>{{ legislativehouse.administrative_area }}</td>
        <td><a href="{% url "wikidata:legislativemembership-list-current" legislativehouse_pk=legislativehouse.id %}">Current membership</a></td>
    </tr>{% endfor %}
    </tbody>
    </table>
{% endblock %}