{% extends "base.html" %}{% load humanize %}{% load i18n %}

{% block title %}{{ country.label }}{% endblock %}
{% block h1_title %}{{ country.label }}{% endblock %}

{% block actions %}
    <div id="actions">
    <form method="post">{% csrf_token %}
      <input type="submit" name="refresh-legislature-list" value="Refresh legislature list">
      {% if country.iso_3166_1_code %}
        <input type="submit" name="update-boundaries" value="Update boundaries">
      {% endif %}
      {% if country.geoshape_url %}
        <input type="submit" name="refresh-geoshape" value="Refresh boundary from Wikidata">
      {% endif %}
    </form>
    </div>
{% endblock %}

{% block content %}

    {% include "wikidata/map.html" %}


    {% if country.population %}
    <p>Population: {{ country.population|intcomma }}</p>
    {% endif %}

    {% if country.flag_image %}
    <img src="{{ country.flag_image }}" alt="Flag of {{ country }}" style="border: 1px solid black; max-height: 20em; max-width: 30em;">
    {% endif %}

    <h2>Legislatures</h2>
    <table class="pure-table pure-table-striped">
    <thead>
    <tr>
        <th>House</th>
        <th>Area</th>
        <th></th>
    </tr>
    </thead>
    <tbody>{% for legislativehouse in country.legislativehouse_set.all %}
    <tr>
        <td>{{ legislativehouse.link }}</td>
        <td>{{ legislativehouse.administrative_area }}</td>
        <td><a href="{% url "wikidata:legislativehouse-membership-current" pk=legislativehouse.id %}">Current membership</a></td>
    </tr>{% endfor %}
    </tbody>
    </table>
{% endblock %}
