{% extends "base.html" %}

{% block title %}Countries{% endblock %}
{% block h1_title %}Countries{% endblock %}
{% block actions %}
    <div id="actions">
    <form method="post">{% csrf_token %}
      <input type="submit" name="refresh-country-list" value="Refresh country list" class="pure-button">
      <input type="submit" name="update-all-boundaries" value="Update all boundaries" class="pure-button">
    </form>
    </div>
{% endblock %}

{% block content %}

    <table class="pure-table pure-table-striped">
    <tbody>

    {% for country in country_list %}
    <tr>
        <td><a href="{{ country.get_absolute_url }}">{{ country.label }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}