{% extends "base.html" %}{% load i18n %}

{% block actions %}
<div id="actions">
    <form method="post">{% csrf_token %}
      <input type="submit" name="refresh-legislature-members" value="Refresh legislature members">
      <input type="submit" name="refresh-legislature-districts" value="Refresh legislature districts">
    </form>
</div>
{% endblock %}

{% block content %}
    <p>
        {% if legislativehouse.country_id != legislativehouse.administrative_area_id %}
            {% blocktrans with administrative_area=legislativehouse.administrative_area country_url=legislativehouse.country.get_absolute_url country=legislativehouse.country %}Legislative house of {{ administrative_area }} in <a href="{{ country_url }}">{{ country }}</a>.{% endblocktrans %}
        {% else %}
            {% blocktrans with country_url=legislativehouse.country.get_absolute_url country=legislativehouse.country %}Legislative house of <a href="{{ country_url }}">{{ country }}</a>.{% endblocktrans %}
        {% endif %}
    </p>

    <p>
        <a href="{% url "wikidata:legislativehouse-membership-current" pk=legislativehouse.id %}">Current membership</a>
        <a href="{% url "wikidata:legislativehouse-membership-all" pk=legislativehouse.id %}">All memberships</a>
    </p>

    {% if legislativehouse.legislative_terms.count %}
        <h2>Legislative terms</h2>
        <table class="pure-table pure-table-striped">
            <thead>
            <tr>
                <th>Ordinal</th>
                <th>Term</th>
                <th>Start</th>
                <th>End</th>
            </tr>
            </thead>
            <tbody>{% for term in legislativehouse.legislative_terms.all %}
                <tr>
                    <td>{{ term.series_ordinal|default_if_none:"" }}</td>
                    <td><a href="{% url "wikidata:legislativehouse-membership-term" pk=legislativehouse.id legislativeterm_pk=term.id %}">{{ term }}</a></td>
                    <td>{{ term.start|default_if_none:"" }}</td>
                    <td>{{ term.end|default_if_none:"" }}</td>
                </tr>{% endfor %}

            </tbody>
        </table>
    {% else %}
    {% endif %}

    {% include "wikidata/map.html" %}


    <h2>Boundary</h2>

    <div id="mapid" style="width: 600px; height: 400px;"></div>

    <script>


        var mymap = L.map('mapid');

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Map © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(mymap);


        function zoomToFeature(e) {
               mymap.fitBounds(e.target.getBounds());
            }

        function onEachFeature(feature, layer) {
                layer.on({
                    click: zoomToFeature
                });
                if (feature.properties && feature.properties.labels.en) {
                    layer.bindPopup(
                        '<a href="/electoral-district/' + feature.properties.id + '">' + feature.properties.labels.en + '</a>'
                    );
                }
            }

        fetch('/api/electoral-district/?format=geojson&geometry=simple_shape&legislative_house={{ legislativehouse.id|safe }}').then(response => {
          return response.json();
        }).then(data => {
            var area = new L.GeoJSON(data, {onEachFeature: onEachFeature});
            area.addTo(mymap);
            mymap.fitBounds(area.getBounds());
        });

    </script>
{% endblock %}
